<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>表单</title>

        <!--        引入bootstrap-->
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
    <body>
        <div align="center">
            <form action="#" th:action="@{/listUltrasound}" method="post">
                <label for="id">全表查询：</label>
                <input id="id" name="id" th:value="${id}">
                <button id="search-btn" name="search-btn">搜索</button>
            </form>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a th:href="@{/add}">添加超声波信息</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a th:href="@{/listUltrasound}">刷新全部数据</a>
            <table width="100%" border="1">

                <tr align="center">
                    <td><b>超声波编号</b></td>
                    <td><b>超声波数据</b></td>
                    <td><b>设备名称</b></td>
                    <td><b>试验站点</b></td>
                    <td><b>区域</b></td>
                    <td><b>实验人员</b></td>
                    <td><b>上传时间</b></td>
                    <td><b>创建时间</b></td>
                    <td colspan="2"><b>操作</b></td>
                </tr>
                <tr align="center" th:each="list: ${pages.list}">
                    <td>
                    <a th:href="@{/getUltrasound(id=${list.id})}">[[${list.id}]]</a></td>
                    <td th:text="${list.waveform}"></td>
                    <td th:text="${list.equipment}"></td>
                    <td th:text="${list.constructionSite}"></td>
                    <td th:text="${list.section}"></td>
                    <td th:text="${list.author}"></td>
                    <td th:text="${list.uploadDate}"></td>
                    <td th:text="${list.foundDate}"></td>
                    <td><a th:href="@{/findUltrasound(id=${list.id})}">编辑</a></td>
                    <td><a th:href="@{/deleteUltrasound(id=${list.id})}">删除</a></td>
                </tr>
            </table>
        </div>
        <div align="center">
            <a th:unless="${pages.isFirstPage}"
               th:href="@{/listUltrasound(id=${id})}">首 页</a>
            <a th:unless="${pages.isFirstPage}"
               th:href="@{/listUltrasound(start=${pages.hasPreviousPage}?${pages.prePage}:1, id=${id})}">上一页</a>
            <a th:unless="${pages.isLastPage}"
               th:href="@{/listUltrasound(start=${pages.hasNextPage}?${pages.nextPage}:${pages.pages}, id=${id})}">下一页</a>
            <a th:unless="${pages.isLastPage}"
               th:href="@{/listUltrasound(start=${pages.pages}, id=${id})}">末 页</a>
        </div>

        <script type="text/javascript">

        </script>
    </body>
</html>